/Chao Yu Dong Kaiser/My project/Library/
*.csproj
*.sln
/Chao Yu Dong Kaiser/My project/UserSettings
Chao Yu Dong Kaiser/My project/My project.sln
Chao Yu Dong Kaiser/My project/Assembly-CSharp.csproj
Chao Yu Dong Kaiser/My project/MerryYellow.CodeAssist.Editor.csproj
/Chao Yu Dong Kaiser/My project/ProjectSettings
Chao Yu Dong Kaiser/My project/My project.sln
/Chao Yu Dong Kaiser/My project/Logs
Chao Yu Dong Kaiser/My project/Assembly-CSharp.csproj
*.csproj
*.dwlt
*.csproj
